<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trabal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
      <!-- 申明网络权限  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 申明权限 操作SD卡 -->  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.trabal.RegisterActivity" >
        </activity>
        <activity android:name="com.trabal.linear.collectActivity"></activity>
        <activity android:name="com.trabal.linear.Hyxiangqingye"></activity>
        <activity android:name="com.trabal.linear.Fansxiangqingye"></activity>
        <activity android:name="com.trabal.linear.recommendationactivity"></activity>
        <activity	android:name="com.trabal.linear.chosepositionactivity" ></activity>
        <activity	android:name="com.trabal.linear.classifyactivity" ></activity>
        <activity	android:name="com.trabal.linear.themeactivity" ></activity>
        <activity	android:name="com.trabal.linear.timeactivity" ></activity>
        <activity	android:name="com.trabal.linear.placeactivity" ></activity>
        <activity	android:name="com.trabal.linear.introduceactivity" ></activity>
        <activity	android:name="com.trabal.linear.priceactivity" ></activity>
        <activity	android:name="com.trabal.linear.telephoneactivity" ></activity>
        <activity	android:name="com.trabal.linear.officialactivity" ></activity>
        <activity android:name="com.trabal.linear.addactivity"></activity>
       
        <activity android:name="com.trabal.linear.LostInLA" >
        </activity>
        <activity android:name="com.trabal.linear.DIMUCUBE" >
        </activity>
        <activity android:name="com.trabal.linear.TakeMeToYourHome" >
        </activity>
        <activity android:name="com.trabal.linear.Timesmuseum" >
        </activity>
        <activity android:name="com.trabal.MainActivity" >
        </activity>
        <activity android:name="com.trabal.linear.RestaurantActivity" >
        </activity>
        <activity android:name="com.trabal.linear.ExhibitionActivity" >
        </activity>
        <activity android:name="com.trabal.linear.ForeignfoodActivity" >
        </activity>
        <activity android:name="com.trabal.linear.CoffeeActivity" >
        </activity>
        <activity android:name="com.trabal.linear.pingjiaActivity" >
        </activity>
        <activity android:name="com.trabal.linear.shoucangActivity" >
        </activity>
        <activity android:name="com.trabal.linear.luxianActivity" >
        </activity>
        <activity android:name="com.trabal.linear.huodongActivity" >
        </activity>
        <activity android:name="com.trabal.linear.assessactivity"></activity>
        <activity android:name="com.trabal.linear.haoyouActivity" >
        </activity>
        <activity android:name="com.trabal.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>